<a href="https://colab.research.google.com/github/oldairjsilva/IGTI/blob/main/coleta_lista_arquivos_desafio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Coleta de dados estruturados em lista de arquivos

In [ ]:
#Vamos importar as bibliotecas que vamos utilizar para essa prática
import pandas as pd 
import os # bibliotecas para funções do sistema operacional

### Documentação das bibliotecas
**Pandas** - https://pandas.pydata.org/pandas-docs/stable/index.html

**os** - https://docs.python.org/3/library/os.html

Vamos atribuir a uma váriavel o caminho no qual está armazenados os arquivos com as vendas do veículo

In [ ]:
DIRETORIO = "C:\\Projetos\\base_dados\\"

Agora vamos criar uma lista com todos os arquivos que estão armazenados no diretório.

o metódo listdir retorna uma lista contendo os nomes das entradas no diretório fornecido por path.

In [ ]:
lista_df = [] # cria uma lista
lista_path = os.listdir(DIRETORIO)

In [ ]:
lista_path[:3]

['base_trabalho_pratico', 'country_vaccinations.csv', 'dados_jogadores.csv']

Ótmo! Agora temos todos os nomes dos aquivos que estão dentro do diretório. Agora vamos abrir cada arquivo e coletar os seus dados.

In [ ]:
#lista_df = [] # cria uma lista vazia
#for arquivo in lista_path:
#    local_arquivo = os.path.join(DIRETORIO, arquivo)
#    df = pd.read_csv(local_arquivo, sep = ';', encoding='latin-1')
#    lista_df.append(df)
#df_vendas = pd.concat(lista_df) # Atribui os dados coletados em um dataframe

In [ ]:
local_arquivo = os.path.join(DIRETORIO, 'dados_jogadores.csv')
df_jogadores = pd.read_csv(local_arquivo, sep = ';', encoding='latin-1')

In [ ]:
df_jogadores[:10]

,jogador,genero,data_nascimento,jogo,pais,num_vitorias,num_derrotas,total_partidas
0,jogador 1,Masculino,03/09/1990,Dama,Chile,14.0,0.0,14.0
1,Jogador 2,Feminino,01/05/1986,Jogo da velha,Chile,39.0,20.0,59.0
2,Jogador 3,Masculino,04/10/1964,Jogo da velha,Brasil,26.0,3.0,29.0
3,Jogador 4,Masculino,28/09/1979,Jogo da velha,Argentina,9.0,72.0,81.0
4,Jogador 5,Masculino,03/09/1978,Dama,Uruguai,1.0,54.0,55.0
5,Jogador 6,Masculino,04/11/1977,Xadrez,Brasil,88.0,0.0,88.0
6,Jogador 7,Masculino,11/11/1986,Xadrez,Argentina,53.0,24.0,77.0
7,Jogador 8,Feminino,18/03/1996,Jogo da velha,Brasil,35.0,27.0,62.0
8,Jogador 9,Masculino,14/01/1969,Dama,Paraguai,27.0,18.0,45.0
9,Jogador 10,Masculino,06/05/2004,Xadrez,Chile,4.0,1.0,5.0

In [ ]:
df_jogadores.isnull().sum()

jogador            0
genero             0
data_nascimento    0
jogo               0
pais               0
num_vitorias       8
num_derrotas       5
total_partidas     8
dtype: int64

In [ ]:
df_jogadores.groupby('pais')['pais'].count()

pais
Argentina     88
Brasil       100
Chile        100
Paraguai     122
Uruguai       89
Name: pais, dtype: int64

https://medium.com/horadecodar/como-tratar-dados-nulos-no-dataset-4f0470b22d38

#  Armazendo os dados no banco dados MySQL

Vamos importar as bibliotecas necessárias para trabalhar no banco

In [ ]:
!pip install mysqlclient

Requirement already satisfied: mysqlclient in c:\projetos\env\coleta_dados\lib\site-packages (2.1.0)

In [ ]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\projetos\env\coleta_dados\lib\site-packages (1.4.32)
Requirement already satisfied: greenlet!=0.4.17 in c:\projetos\env\coleta_dados\lib\site-packages (from sqlalchemy) (1.1.2)

In [ ]:
import MySQLdb # importação da biblioteca mysqlclient
import sqlalchemy

### Documentação das bibliotecas
**MySQLdb** - https://mysqlclient.readthedocs.io/user_guide.html

**sqlalchemy** - https://www.sqlalchemy.org/


### Criando schema do banco de dados
O próximo passo é criar a conexão com o banco de dados. No entanto, antes de executar o script que gera a string de conexão precisamos criar o schema no banco de dados. 

Os **schemas** são coleções de objetos dentro de um determinado banco de dados, que organizam vários aspectos e são importantes para segmentação da segurança, facilitando a administração dos objetos e dos dados. 

Para criar o o schema de um banco de dados MySQL temos que utilizar o seguinte comando dentro do ambiente do SGDB:

> create schema [nome_schema];

SGBD é o sistema gerenciador de banco de dados. Para esse curso vamos utilizar o MySQL Workbench.

Pronto! Depois que criamos o schema/database dentro do MySQL Workbenck o proximo passo é criar a conexão com o banco.
Vamos definir os dados necessárias para fazer o acesso ao servidor de banco de dados MySQL e, em seguinda, criar uma conexão com o banco de dados baseado em uma string de conexão.

In [ ]:
user = 'oldair'
password = '12345'
host = 'localhost'
database = 'db_jogadores' #schema

string_conexao = f'mysql://{user}:{password}@{host}/{database}'
string_conexao #testar a string de conexão com o banco de dados.

'mysql://oldair:12345@localhost/db_jogadores'

A string é composta pelo o **usuário** de acesso ao banco, a **senha**, o **caminho** do banco de dados e o **schema** que vai ser utilizado.

In [ ]:
engine = sqlalchemy.create_engine(string_conexao)
conn = engine.connect()

In [ ]:
df_jogadores[:10]

,jogador,genero,data_nascimento,jogo,pais,num_vitorias,num_derrotas,total_partidas
0,jogador 1,Masculino,03/09/1990,Dama,Chile,14,0,14
1,Jogador 2,Feminino,01/05/1986,Jogo da velha,Chile,39,20,59
2,Jogador 3,Masculino,04/10/1964,Jogo da velha,Brasil,26,3,29
3,Jogador 4,Masculino,28/09/1979,Jogo da velha,Argentina,9,72,81
4,Jogador 5,Masculino,03/09/1978,Dama,Uruguai,1,54,55
5,Jogador 6,Masculino,04/11/1977,Xadrez,Brasil,88,0,88
6,Jogador 7,Masculino,11/11/1986,Xadrez,Argentina,53,24,77
7,Jogador 8,Feminino,18/03/1996,Jogo da velha,Brasil,35,27,62
8,Jogador 9,Masculino,14/01/1969,Dama,Paraguai,27,18,45
9,Jogador 10,Masculino,06/05/2004,Xadrez,Chile,4,1,5

In [ ]:
df_jogador = df_jogadores[['jogador', 'genero', 'data_nascimento', 'num_vitorias', 'num_derrotas', 'total_partidas']].drop_duplicates()
df_jogo = df_jogadores[['jogo']].drop_duplicates()
df_pais = df_jogadores[['pais']].drop_duplicates()

In [ ]:
df_jogador[:10] #dados de pessoas

,jogador,genero,data_nascimento,num_vitorias,num_derrotas,total_partidas
0,jogador 1,Masculino,03/09/1990,14,0,14
1,Jogador 2,Feminino,01/05/1986,39,20,59
2,Jogador 3,Masculino,04/10/1964,26,3,29
3,Jogador 4,Masculino,28/09/1979,9,72,81
4,Jogador 5,Masculino,03/09/1978,1,54,55
5,Jogador 6,Masculino,04/11/1977,88,0,88
6,Jogador 7,Masculino,11/11/1986,53,24,77
7,Jogador 8,Feminino,18/03/1996,35,27,62
8,Jogador 9,Masculino,14/01/1969,27,18,45
9,Jogador 10,Masculino,06/05/2004,4,1,5

In [ ]:
df_jogo[:10] #Dados de modelo

            jogo
0           Dama
1  Jogo da velha
5         Xadrez

In [ ]:
df_pais[:10] # dados de fabricante

        pais
0      Chile
2     Brasil
3  Argentina
4    Uruguai
8   Paraguai

In [ ]:
for jogo in df_jogo[:3].itertuples():
    print(jogo)

Pandas(Index=0, jogo='Dama')
Pandas(Index=1, jogo='Jogo da velha')
Pandas(Index=5, jogo='Xadrez')

In [ ]:
for jogo in df_jogo.itertuples():
    nome_jogo = jogo.jogo
    try:
        query = f"""insert into jogo (nome_jogo) 
                     values ('{nome_jogo}')"""      
        conn.execute(query)      
        print(f"Registro inserido com sucesso: {nome_jogo}")
    except Exception as e:        
        print(f"Não foi possível inserir o regristro {nome_jogo}. O erro foi encontrado foi: {e}")

Registro inserido com sucesso: Dama
Registro inserido com sucesso: Jogo da velha
Registro inserido com sucesso: Xadrez

In [ ]:
for pais in df_pais[:3].itertuples():
    print(pais)

Pandas(Index=0, pais='Chile')
Pandas(Index=2, pais='Brasil')
Pandas(Index=3, pais='Argentina')

In [ ]:
for pais in df_pais.itertuples():
    nome_pais = pais.pais
    try:
        query = f"""insert into pais (nome_pais) 
                     values ('{nome_pais}')"""      
        conn.execute(query)      
        print(f"Registro inserido com sucesso: {nome_pais}")
    except Exception as e:        
        print(f"Não foi possível inserir o regristro {nome_pais}. O erro foi encontrado foi: {e}")

Registro inserido com sucesso: Chile
Registro inserido com sucesso: Brasil
Registro inserido com sucesso: Argentina
Registro inserido com sucesso: Uruguai
Registro inserido com sucesso: Paraguai

## Criando tabela Staging no banco de dados

Uma outra forma de popular dados no banco de dados é através da criação de uma tabela de preparação temporária. Uma tabela Staging é uma area intermediária utilizada para preparar os dados para serem utilizados em um ambiente de análise. 

Deste modo, criamos uma cópia da tabela com os dados coletados e persistimos no banco sem nenhum tratamento.

In [ ]:
# cria uma tabela no banco SQL com o nome 
df_jogadores.to_sql('stg_jogadores', con=conn, schema='db_jogadores')

499



```
Após criar a tabela de staging no banco de dados, vamos executar a seguinte consulta em SQL abaixo:

use db_jogadores;

INSERT INTO `db_jogadores`.`jogador`
(`nome_jogador`,`genero`,`data_nascimento`,`num_vitorias`,`num_derrotas`,`total_partidas`,`cod_pais`,`cod_jogo`)
(
SELECT
	stg.jogador,
    stg.genero,
    str_to_date(data_nascimento, '%d/%m/%Y'),
    stg.num_vitorias,
    stg.num_derrotas,
    stg.total_partidas,
    p.cod_pais,
    j.cod_jogo
FROM
	stg_jogadores stg
    INNER JOIN pais p ON p.nome_pais = stg.pais
    INNER JOIN jogo j ON j.nome_jogo = stg.jogo
    );
```