<a href="https://colab.research.google.com/github/oldairjsilva/IGTI/blob/main/coleta_dados_trabalho_pratico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Coleta de dados estruturados em lista de arquivos

In [ ]:
# Vamos importar as bibliotecas que vamos utilizar para essa prática
import pandas as pd
import os # bibliotecas para funções do sistema operacional

In [ ]:
DIRETORIO = 'C:\\Projetos\\base_dados\\base_trabalho_pratico\\'

In [ ]:
lista_df = [] # cria uma lista
lista_path = os.listdir(DIRETORIO)

In [ ]:
lista_path[:5]

['2020-01-01.csv',
 '2020-01-02.csv',
 '2020-01-03.csv',
 '2020-01-04.csv',
 '2020-01-05.csv']

Ótimo! Agora temos todos os nomes dos arquivos que estão dentro do diretório. Agora vamos abrir cada arquivo e coltar os seus dados

In [ ]:
lista_df = [] # cria uma lista vazia
for arquivo in lista_path:
    local_arquivo = os.path.join(DIRETORIO, arquivo)
    df = pd.read_csv(local_arquivo, sep = '|', encoding = 'latin-1')
    lista_df.append(df)
df_unificado = pd.concat(lista_df) # Atribui os dados coletados em um dataframe

In [ ]:
type(df_unificado)

pandas.core.frame.DataFrame

In [ ]:
df_unificado[:10]

,cod_pessoa,data_coleta,genero,data_nascimento,animal_estimacao,clima,bebida_favorita,hobbies
0,10141743,2020-01-01,Masculino,1981-04-25,peixe,frio,Cerveja,Praticar esporte
1,10141860,2020-01-01,Feminino,1966-01-19,peixe,quente,Café,Assistir TV
2,10142548,2020-01-01,Masculino,1973-08-02,tartaruga,frio,Café,Ler livros
3,10142591,2020-01-01,Masculino,1997-03-05,gato,moderado,Cerveja,Aprender algo novo
4,10142654,2020-01-01,Feminino,1969-08-05,tartaruga,moderado,Café,Assistir TV
0,10141523,2020-01-02,Feminino,1998-09-24,gato,quente,Cerveja,Aprender algo novo
1,10141996,2020-01-02,Feminino,1973-03-13,tartaruga,quente,refrigerante,Escrever
2,10142089,2020-01-02,Feminino,1970-03-23,gato,moderado,Água,Pintar quadros
3,10142145,2020-01-02,Masculino,1998-08-01,peixe,frio,refrigerante,Escrever
4,10142520,2020-01-02,Masculino,1994-05-09,peixe,moderado,Café,Praticar esporte

# Exportando dados para arquivo
Agora que já temos todos os arquivos, vamos exportá-los apenas para um arquivo único

In [ ]:
df_unificado.to_csv(DIRETORIO + 'df_unificado.csv', sep = ';', encoding = 'latin-1', index = False)

# Trabalho prático - Modulo 2

# Pergunta 1
Quantas pessoas do gênero masculino gostam de tartaruga?

In [ ]:
df_unificado.shape

(4254, 8)

In [ ]:
df_unificado.groupby('animal_estimacao').nunique.count()

,cod_pessoa,data_coleta,genero,data_nascimento,clima,bebida_favorita,hobbies
animal_estimacao,,,,,,,
cachorro,828,828,828,828,828,828,828
gato,1728,1728,1728,1728,1728,1728,1728
peixe,864,864,864,864,864,864,864
tartaruga,834,834,834,834,834,834,834

In [ ]:
df_unificado.query('genero == "Masculino" and animal_estimacao == "tartaruga" ').nunique()

cod_pessoa          268
data_coleta         194
genero                1
data_nascimento     267
animal_estimacao      1
clima                 3
bebida_favorita       6
hobbies               8
idade                50
dtype: int64

# Pergunta 2
Qual a média de idade dos homens que gostam de cerveja e clima quente?

In [ ]:
df_unificado.query('genero == "Masculino" and bebida_favorita == "Cerveja" and clima == "quente" ')

,cod_pessoa,data_coleta,genero,data_nascimento,animal_estimacao,clima,bebida_favorita,hobbies
3,10142733,2020-01-04,Masculino,1978-01-12,tartaruga,quente,Cerveja,Pintar quadros
1,10142310,2020-01-05,Masculino,1978-08-22,peixe,quente,Cerveja,Aprender algo novo
2,10143233,2020-01-06,Masculino,1987-02-25,tartaruga,quente,Cerveja,Pintar quadros
0,10141745,2020-01-07,Masculino,1982-10-19,cachorro,quente,Cerveja,Dormir
2,10142206,2020-01-10,Masculino,1997-09-29,cachorro,quente,Cerveja,Aprender algo novo
...,...,...,...,...,...,...,...,...
2083,10143114,2020-12-24,Masculino,1967-12-24,gato,quente,Cerveja,Praticar esporte
2095,10142126,2020-12-27,Masculino,1965-11-11,tartaruga,quente,Cerveja,Assistir TV
2106,10143087,2020-12-28,Masculino,1962-09-05,gato,quente,Cerveja,Aprender algo novo
2110,10141778,2020-12-29,Masculino,1967-11-14,tartaruga,quente,Cerveja,Dormir
2119,10143067,2020-12-30,Masculino,1961-12-25,peixe,quente,Cerveja,Escutar música

In [ ]:
df_unificado['data_nascimento'] = pd.to_datetime(df_unificado['data_nascimento'])
df_unificado['data_coleta'] = pd.to_datetime(df_unificado['data_coleta'])

In [ ]:
df_unificado['data_nascimento'].dt.year

0       1981
1       1966
2       1973
3       1997
4       1969
        ...
2122    1955
2123    1954
2124    1952
2125    1984
2126    1971
Name: data_nascimento, Length: 4254, dtype: int64

In [ ]:
df_unificado['idade'] = df_unificado['data_coleta'].dt.year - df_unificado['data_nascimento'].dt.year

In [ ]:
df_unificado['idade']

0       39
1       54
2       47
3       23
4       51
        ..
2122    65
2123    66
2124    68
2125    36
2126    49
Name: idade, Length: 4254, dtype: int64

In [ ]:
df_unificado.isna().count()

cod_pessoa          4254
data_coleta         4254
genero              4254
data_nascimento     4254
animal_estimacao    4254
clima               4254
bebida_favorita     4254
hobbies             4254
idade               4254
dtype: int64

In [ ]:
df_unificado

,cod_pessoa,data_coleta,genero,data_nascimento,animal_estimacao,clima,bebida_favorita,hobbies,idade
0,10141743,2020-01-01,Masculino,1981-04-25,peixe,frio,Cerveja,Praticar esporte,39
1,10141860,2020-01-01,Feminino,1966-01-19,peixe,quente,Café,Assistir TV,54
2,10142548,2020-01-01,Masculino,1973-08-02,tartaruga,frio,Café,Ler livros,47
3,10142591,2020-01-01,Masculino,1997-03-05,gato,moderado,Cerveja,Aprender algo novo,23
4,10142654,2020-01-01,Feminino,1969-08-05,tartaruga,moderado,Café,Assistir TV,51
...,...,...,...,...,...,...,...,...,...
2122,10142475,2020-12-31,Masculino,1955-05-30,peixe,quente,Café,Praticar esporte,65
2123,10142522,2020-12-31,Masculino,1954-12-22,peixe,moderado,Cerveja,Praticar esporte,66
2124,10142881,2020-12-31,Masculino,1952-07-30,gato,frio,refrigerante,Assistir TV,68
2125,10143184,2020-12-31,Masculino,1984-06-05,tartaruga,quente,refrigerante,Pintar quadros,36
2126,10143307,2020-12-31,Masculino,1971-08-29,tartaruga,moderado,refrigerante,Pintar quadros,49

In [ ]:
df_unificado.query('genero == "Masculino" and bebida_favorita == "Cerveja" and clima == "quente" ')['idade'].mean()

44.44736842105263

# Pergunta 3
Qual o hobbie de menor preferência entre os homens?

In [ ]:
df_unificado.query('genero == "Masculino" ').groupby('hobbies')['hobbies'].count().sort_values(ascending=True)

hobbies
Escutar música        306
Pintar quadros        342
Assistir TV           346
Praticar esporte      350
Ler livros            354
Escrever              364
Aprender algo novo    366
Dormir                368
Name: hobbies, dtype: int64

# Pergunta 4
Qual o hobbie de menor preferência entre as mulheres que gostam de tartaruga?

In [ ]:
df_unificado.query('genero == "Feminino" and animal_estimacao == "tartaruga" ').groupby('hobbies')['hobbies'].count().sort_values(ascending=True)

hobbies
Dormir                22
Ler livros            26
Praticar esporte      34
Assistir TV           36
Aprender algo novo    38
Escutar música        44
Pintar quadros        48
Escrever              50
Name: hobbies, dtype: int64

# Pergunta 5
Qual a bebida favorita entre as mulheres e homens, respectivamente?

In [ ]:
df_unificado.query('genero == "Feminino" ').groupby('bebida_favorita')['bebida_favorita'].count().sort_values(ascending=False)

bebida_favorita
Cerveja         276
Café            250
Chá             250
refrigerante    248
Vinho           228
Água            206
Name: bebida_favorita, dtype: int64

In [ ]:
df_unificado.query('genero == "Masculino" ').groupby('bebida_favorita')['bebida_favorita'].count().sort_values(ascending=False)

bebida_favorita
Café            516
Cerveja         500
refrigerante    452
Chá             446
Água            444
Vinho           438
Name: bebida_favorita, dtype: int64

# Pergunta 6
Qual é a média de idade das pessoas que têm como hobbie assistir TV?

In [ ]:
df_unificado.query('hobbies == "Assistir TV" ')['idade'].mean()

44.555133079847906

# Pergunta 7
Quantas pessoas têm como hobbie pintar quadros e qual média de idade delas, respectivamente?

In [ ]:
df_unificado.query('hobbies == "Pintar quadros" ').nunique()

cod_pessoa          260
data_coleta         187
genero                2
data_nascimento     260
animal_estimacao      4
clima                 3
bebida_favorita       6
hobbies               1
idade                50
dtype: int64

In [ ]:
df_unificado.query('hobbies == "Pintar quadros" ')['idade'].describe()

count    520.000000
mean      44.776923
std       14.688160
min       21.000000
25%       31.000000
50%       43.500000
75%       57.000000
max       70.000000
Name: idade, dtype: float64

# Pergunta 8
Qual script abaixo retorna o número total de pessoas que responderam na pesquisa que gostam de cachorro?

#### select ae.animal, count(1) total from pesquisa p inner join animal_estimacao ae on p.cod_animal_estimacao = ae.cod_animal_estimacao where ae.animal = 'cachorro' group by animal
Resposta escolhida

#### select ae.animal, sum(1) total from pesquisa p inner join animal_estimacao ae on p.cod_animal_estimacao = ae.cod_animal_estimacao where ae.animal = 'cachorro' order by p.animal

#### select ae.animal, count(*) total from pesquisa p inner join animal_estimacao ae on p.cod_animal_estimacao = ae.cod_animal_estimacao where p.animal <> 'cachorro' group by animal

In [ ]:
import pandasql as psql

In [ ]:
sdfc =  psql.sqldf("select animal_estimacao, count(1) from df_unificado where animal_estimacao = 'cachorro' group by animal_estimacao")
sdfc.head()

  animal_estimacao  count(1)
0         cachorro       828

# Pergunta 9
Quantas pessoas, de modo geral, gostam de gatos?

In [ ]:
df_unificado.query('animal_estimacao == "gato" ').nunique()

cod_pessoa          864
data_coleta         331
genero                2
data_nascimento     840
animal_estimacao      1
clima                 3
bebida_favorita       6
hobbies               8
idade                50
dtype: int64

# Pergunta 10
Quantas pessoas do gênero masculino gostam de peixe?

In [ ]:
df_unificado.query('animal_estimacao == "peixe" and genero == "Masculino" ').nunique()

cod_pessoa          274
data_coleta         190
genero                1
data_nascimento     271
animal_estimacao      1
clima                 3
bebida_favorita       6
hobbies               8
idade                49
dtype: int64

# Pergunta 11
Quantas pessoas gostam do clima quente?

In [ ]:
df_unificado.query('clima == "quente"').nunique()

cod_pessoa          693
data_coleta         304
genero                2
data_nascimento     680
animal_estimacao      4
clima                 1
bebida_favorita       6
hobbies               8
idade                50
dtype: int64

# Pergunta 12
Sobre os dados não estruturados, todas as afirmativas estão corretas, EXCETO:

- Possuem estrutura flexível e dinâmica.

- Não são alinhados ou padronizados.

- Possuem estrutura pré-definida. (Escolhida)

- Nenhuma das alternativas.

# Pergunta 13
É uma das vantagens de realizar uma coleta de dados, EXCETO:

- Auxilia na análise para reconhecer tendências.

- Ajuda a entender melhor seus clientes.

- Auxilia nas tomadas de decisões.

- Todas as alternativas. (Escolhida)

# Pergunta 14
De acordo com o conceito de Web Semântica, podemos afirmar que:

- Ela visa tornar o browser um assistente que orienta o usuário através de uma interação inteligente.

- Deseja substituir a web tradicional com suas modificações.

- Foi pensada para um novo layout nas páginas da internet.

- Deseja tornar as pesquisas mais amplas, trazendo vários resultados diferentes para a mesma pesquisa e assim ter mais chances de acertar o desejo do pesquisador. (Escolhida)

# Pergunta 15
Para instalar uma biblioteca no ambiente de uma virtual env, devemos:

- Utilizar o comando pip list + python –r + o nome da biblioteca.

- Utilizar o comando pip install –p python3 + nome da biblioteca.

- Utilizar o comando pip install –h + pip list + o nome da biblioteca.

- Nenhuma das alternativas. (Escolhida)