<a href="https://colab.research.google.com/github/oldairjsilva/IGTI/blob/main/trabalho_pratico_modulo_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
pip install haversine

Collecting haversine
  Downloading haversine-2.5.1-py2.py3-none-any.whl (6.1 kB)
Installing collected packages: haversine
Successfully installed haversine-2.5.1

In [6]:
from haversine import haversine

lyon = (45.7597, 4.8422) # (lat, lon)
paris = (48.8567, 2.3508)

haversine(lyon, paris)
#>> 392.2172595594006  # in kilometers

392.2172595594006

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('/content/airports - Copia- 2.csv')

In [ ]:
df.head()

,Item,Airport,Cidade,Pais,Sigla,Sigla2,Latitude,Longitude,cod,cod1,cod2,Regiao,Tipo,Tipo2
0,1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081690,145.391998,5282,10,U,Pacific/Port_Moresby,airport,OurAirports
1,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.207080,145.789001,20,10,U,Pacific/Port_Moresby,airport,OurAirports
2,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005,5388,10,U,Pacific/Port_Moresby,airport,OurAirports
3,4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977,239,10,U,Pacific/Port_Moresby,airport,OurAirports
4,5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443380,147.220001,146,10,U,Pacific/Port_Moresby,airport,OurAirports

In [22]:
df[(df["Airport"] == 'Amsterdam Airport Schiphol')][{'Latitude', 'Longitude'}]

     Longitude   Latitude
574    4.76389  52.308601

In [23]:
df[(df["Airport"] == 'Narita International Airport')][{'Latitude', 'Longitude'}]

       Longitude   Latitude
2181  140.386002  35.764702

In [26]:
from haversine import haversine

Amsterdam = (4.76389, 52.308601) # (lat, lon)
Narita = (140.386002, 35.764702)

haversine(Amsterdam, Narita)
#>> 392.2172595594006  # in kilometers

14797.3404620775

In [ ]:
df[(df["Airport"] == 'Jorge Newbery Airpark')][{'Latitude', 'Longitude'}]

      Longitude  Latitude
2320   -58.4156  -34.5592

In [ ]:
df[(df["Airport"] == 'Guarulhos - Governador André Franco Montoro International Airport')][{'Latitude', 'Longitude'}]

      Longitude   Latitude
2436 -46.473057 -23.435556

In [ ]:
from haversine import haversine

lyon = (-34.5592, -58.4156	) # (lat, lon)
paris = (-23.435556, -46.473057)

haversine(lyon, paris)

1693.9996279229154

In [ ]:
df[(df["Cidade"] == 'Sao Paulo')][{'Airport'}]

                                                Airport
2436  Guarulhos - Governador André Franco Montoro In...
2464                             Campo de Marte Airport
2486                                  Congonhas Airport

In [ ]:
df[(df["Pais"] == 'Brazil')][{'Airport'}]

                                   Airport
2392         Conceição do Araguaia Airport
2393  Campo Délio Jardim de Mattos Airport
2394                         Amapá Airport
2395                    Araraquara Airport
2396                   Santa Maria Airport
...                                    ...
7643                Augusto Severo Airport
7647                        Flores Airport
7659               Fazenda Uiapuru Airport
7670              Fazenda Kajussol Airport
7672                 Costa Marques Airport

[264 rows x 1 columns]

In [ ]:
df[(df["Cidade"] == 'London')][{'Airport', 'Cidade', 'Pais'}]

      Cidade                            Airport            Pais
172   London                     London Airport          Canada
487   London               London Luton Airport  United Kingdom
497   London             London Gatwick Airport  United Kingdom
498   London                London City Airport  United Kingdom
502   London            London Heathrow Airport  United Kingdom
542   London            London Stansted Airport  United Kingdom
5766  London                    London Heliport  United Kingdom
6141  London  London-Corbin Airport/Magee Field   United States
6759  London             Madison County Airport   United States

In [ ]:
df[(df["Cidade"] == 'New York')][{'Airport', 'Cidade', 'Pais'}]

        Cidade                               Airport           Pais
3497  New York                    La Guardia Airport  United States
3597  New York  John F Kennedy International Airport  United States
3782  New York   Downtown-Manhattan/Wall St Heliport  United States
5773  New York                West 30th St. Heliport  United States
5779  New York           Indianola Municipal Airport  United States
5970  New York             One Police Plaza Heliport  United States

In [ ]:
df[(df["Cidade"] == 'Rio de Janeiro')][{'Airport', 'Pais'}]

                                    Airport    Pais
6790                 Morro da Urca Heliport  Brazil
7306  Jacarepaguá - Roberto Marinho Airport  Brazil

In [ ]:
df[(df["Pais"] == 'United States')][{'Airport', 'Cidade', 'Pais'}]

               Cidade                                   Airport           Pais
3212    Barter Island                Barter Island LRRS Airport  United States
3213  Fort Wainwright                    Wainwright Air Station  United States
3214    Cape Lisburne                Cape Lisburne LRRS Airport  United States
3215        Point Lay                    Point Lay LRRS Airport  United States
3216             Hilo                Hilo International Airport  United States
...               ...                                       ...            ...
7637        Oceanside  Camp Pendleton MCAS (Munn Field) Airport  United States
7651          Vidalia                  Vidalia Regional Airport  United States
7652         Granbury                 Granbury Regional Airport  United States
7653           Fulton                     Oswego County Airport  United States
7665         Mitchell                Mitchell Municipal Airport  United States

[1512 rows x 3 columns]

In [ ]:
df[(df["Pais"] == 'France')][{'Airport', 'Cidade', 'Pais'}]

                     Cidade                              Airport    Pais
1219                 Calais             Calais-Dunkerque Airport  France
1220                Peronne        Péronne-Saint-Quentin Airport  France
1221                 Nangis             Nangis-Les Loges Airport  France
1222      Bagnole-de-l'orne  Bagnoles-de-l'Orne-Couterne Airport  France
1223                 Albert                  Albert-Bray Airport  France
...                     ...                                  ...     ...
6883             Malbouhans             Lure Malbouhans Air Base  France
7118        Blois/Le Breuil              Blois-Le Breuil Airport  France
7329                 Lognes          Lognes Emerainville Airport  France
7487  Saint Pierre d'Oleron          St Pierre d'Oléron Airfield  France
7488        Semur en Auxois             Semur En Auxois Airfield  France

[217 rows x 3 columns]

In [ ]:
df[(df["Pais"] == 'Canada')][{'Airport', 'Cidade', 'Pais'}]

                  Cidade                            Airport    Pais
20    Sault Sainte Marie            Sault Ste Marie Airport  Canada
21              Winnipeg     Winnipeg / St. Andrews Airport  Canada
22               Halifax  Halifax / CFB Shearwater Heliport  Canada
23           St. Anthony                St. Anthony Airport  Canada
24                Tofino        Tofino / Long Beach Airport  Canada
...                  ...                                ...     ...
7506           Stratford        Stratford Municipal Airport  Canada
7507          Edmundston                 Edmundston Airport  Canada
7631           Lutselk'e                  Lutselk'e Airport  Canada
7660          Whitehorse           Whitehorse Seaplane Base  Canada
7671               Pelee               Pelee Island Airport  Canada

[430 rows x 3 columns]

In [18]:
df["Pais"].nunique()

237

In [19]:
df["Airport"].nunique()

7658

In [20]:
media = df["Airport"].nunique() / df["Pais"].nunique()

In [21]:
media

32.312236286919834

In [8]:
df.groupby("Pais").mean()

                       Item    Latitude    Longitude          cod
Pais
Afghanistan     5793.545455   34.037426    66.567935  4031.272727
Albania         9734.400000   41.318320    19.822260   281.400000
Algeria         1316.090909  518.135606    79.139269  1518.772727
American Samoa  4798.500000  -14.274100  -170.067505    71.000000
Angola          2910.800000  -10.789773    15.687952  2446.560000
...                     ...         ...          ...          ...
West Bank       2174.000000   31.864700    35.219200  2485.000000
Western Sahara  5670.333333   25.867266 -5318.967967   197.666667
Yemen           4158.545455   14.931682  4531.783291  2088.727273
Zambia          4654.769231   -9.630631    17.509054  3414.153846
Zimbabwe        3207.500000  -18.439425    29.353270  3222.375000

[237 rows x 4 columns]

In [13]:
df['cod'].mean()

1015.873343725643